<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <link rel="stylesheet" href="css/bootstrap.css">
     <script src="query.js"></script>
    <script src="js/bootstrap.js"></script>
    <link  rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
</head>
<body>
    <button data-toggle="modal" style="display:none;" id="modalOpenBtn" data-target="#mymodal">open model</button>
     <div class="container-fluid">

            <div class="row">
                <div class="col-md-12  mx-auto px-0">
                    <table class="table text-center table-bordered table-dark table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Sno</th>
                                <th>Name</th>
                                <th>S Name</th>
                                <th>Remark</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody id="myData">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="modal" id="mymodal">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1>Update details</h1>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-10">
                                    <label for="">Name</label>
                                    <input type="text" id="updateIndex" class="d-none">
                                    <input type="text" id="name" class="form-control">
                                    <label for="">S Name</label>
                                    <input type="text" id="sname" class="form-control">
                                    <label for="">Remark</label>
                                    <input type="text" id="remark" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-success" onclick="updateData()">Update</button>
                        <button class="btn btn-secondary">Close</button>
                    </div>
                </div>
            </div>
        </div>


    <script>
        //{'name':'Diksha','sname':'Thakur','remark':'P'},


                 let classRec = [


                        
                     {'name':'Shelly','sname':'Sharma','remark':'A'},
                        {'name':'Shilpa','sname':'Thakur','remark':'P'},
                        {'name':'Kamna','sname':'kumari','remark':'A'},
                        {'name':'Anjali','sname':'jaswal','remark':'A'},
                    ];
                        
                        displayData =()=>{

                            let tag_name = ''
                            for(let i=0 ; i<classRec.length ; i++){
                            tag_name += '<tr>';
                                tag_name += '<td>'+(i+1)+'</td>';
                                tag_name += '<td>'+classRec[i]['name']+'</td>';
                                tag_name += '<td>'+classRec[i]['sname']+'</td>';
                                tag_name += '<td>'+classRec[i]['remark']+'</td>';
                                tag_name += '<td>'+classRec[i]['email']+'</td>';
                                tag_name += '<td><button onclick="openModel('+i+')" class="text-dark"><i class="fas fa-pencil-alt"></i></button><button onclick="deleterow('+i+')"><i class="fas fa-trash-alt"></i></button><button class="btn btn-success" onclick="">add </button> </td>';
                            tag_name += '</tr>';
                            }
                            document.getElementById('myData').innerHTML = tag_name
                        }
                        displayData()

                        openModel =(index)=>{
                            singleData = classRec[index]
                            document.getElementById('updateIndex').value = index
                            document.getElementById('name').value = singleData['name']
                            document.getElementById('sname').value = singleData['sname']
                            document.getElementById('remark').value = singleData['remark']
                            // open modal in js
                            document.getElementById("modalOpenBtn").click();
                        }

                        updateData =()=>{
                            let updateIndex = document.getElementById('updateIndex').value
                            let name = document.getElementById('name').value
                            let sname = document.getElementById('sname').value
                            let remark = document.getElementById('remark').value
                            let obj = {'name':name,'sname':sname,'remark':remark};
                            classRec[updateIndex] = obj;
                            displayData()

                            
                        }

                           deleterow=(index)=>{
                                
                               let resp = confirm('are sure to delete');

                                if(resp==true)
                                {
                                    classRec.splice(index,1);

                                     displayData()
                                     
                                     
                                }

                            }

 </script>

                                  
                                    
                                
                            
                            
   

</body>
</html>