.card{

	
	background-color: #FF8C00;
	outline: 3px solid white;

	 outline-offset: -20px;
	 position: absolute;
	 left:350px;
	 top:40px;

}
body{
	background:;
}
.new{
background:#0d98ba;
width: 287px;
font-size:12px;
text-align: center;
}
.card-text{       
	text-align: center;
	color:white;
	font-size:12px;


	


}
.card-title{
	text-align: center;
	color:white;
	font-size: 55px;
	padding: 4px;


}
.t{
	text-align: center;
	color:white;


}
.footer {
  background-color:#194570;
  color: white;
  text-align: center;
  overflow: hidden;
  font-size:10px;

}